* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.main {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 6px;
}

.display {
  height: 55px;
  width: 100%;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 2rem;
}

.container {
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: repeat(5, 60px);
  margin-top: 10px;
}

.btn {
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1.6rem;
}

#equal-btn {
grid-column:span 2;
}

.color {
  background-color: rgba(233, 121, 23, 0.747);
  color: aliceblue;

}
